.copy-button {
    background-color: #1e40af; /* Original blue color */
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .copy-button:hover {
    background-color: olivedrab; /* Slightly darker blue color */
    color: #f4f6f7; /* Lighter white color */
  }
  